html {
  font-family: "Roboto", sans-serif;
}

body {
  background: #343030;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  color: #aaaaaa;
}

header {
  width: 100%;
  height: 80px;
  position: relative;
}
.hamburger {
  position: fixed;
  right: 80px;
  top: 50px;
  z-index: 100 !important;
  cursor: pointer;
}

.line {
  width: 50px;
  height: 3px;
  background-color: #aaaaaa;
}

.line:not(:last-child) {
  margin-bottom: 8px;
}

.btn-animation .line_1 {
  transform: translateY(11px) rotate(-45deg);
}

.btn-animation .line_2 {
  opacity: 0;
}

.btn-animation .line_3 {
  transform: translateY(-11px) rotate(45deg);
}

.btn-animation,
.line {
  transition: all 0.3s;
}

nav {
  position: fixed;
  left: 100%;
  width: 100vw;
  height: 100vh;
  background-color: #020202;
  top: 0;
  opacity: 0;
  z-index: 10;
}

nav ul {
  position: relative;
  margin: 0;
  padding: 0;
  left: 50px;
  top: 20%;
  list-style: none;
  display: flex;
  flex-direction: column;
}

nav ul li {
  font-size: 20px;
  text-transform: uppercase;
}

nav ul li,
nav ul li a {
  display: inline-block;
}

nav ul li a:after {
  content: "";
  box-sizing: border-box;
  display: block;
  width: 0;
  height: 1.5px;
  background: #fafafa;
  transition: width 0.5s;
}

nav ul li a:hover::after {
  width: 50%;
}

nav ul li:not(:last-child) {
  margin-bottom: 30px;
}

nav ul li a {
  text-decoration: none;
}

.addNav {
  left: 80% !important;
  top: 0 !important;
  opacity: 1 !important;
}

#nav,
.addNav,
.nav ul,
.nav ul li {
  transition: all 0.5s;
}

address {
  position: fixed;
  top: 47%;
  transform: translateY(-50%);
}

.main__landing {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}

.main__landing h1 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
}

.main__landing p {
  font-size: 20px;
  line-height: 30px;
  width: 670px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}

.contacts-logos {
  width: 50px;
  height: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.contact-logo {
  width: 50px;
  height: auto;
}

.linkedin {
  width: 42px;
}

.git {
  width: 48px;
}

.cta,
.cta2 {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  height: 40px;
  border-radius: 2px;
  text-align: center;
  background-color: #ff3366;
  color: #fafafa;
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 40px;
}

.cta2:hover {
  transform: scale(1.2);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
